@import './variables.scss';

body {
  font-family: $ff-regular;
  font-size: $fs-regular-mobile;
  font-weight: $fw-regular;

  background-color: $clr-200;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-size: $fs-regular-desktop;
  }
}